<!-- <div class = "teste">
<br>
<h1>{{title}} : {{subtitulo}}</h1>
<h3>Bind de eventos:</h3>
<button class="botoes" (click)="exibirAlert()">Exibir alerta</button>
<br>
<br>



<h3>Teste de bind usando interpolação:</h3>
<p>A soma é {{1 + 4}}</p>
<br>



<h3>Interpolação de novo:</h3>
<p>Meu nome é {{exibirNome()}}</p>
<br>



<h3>Propertie bind (usando couchetes):</h3>
<img [src]="logo">
<br>



<h3>Atividade para alteração de texto</h3>

<button class="botoes" (click)="exibirParagrafo()">Exibir paragrafo</button>
<br>
<p [hidden]= "!mostrar">Aula do dia 31/08/2022</p>
<br>

<button class="botoes"(click)="exibirParagrafo()">Exibir paragrafo</button>
<br>
<p *ngIf="mostrar">Aula do dia 31/08/2022 - {{mostrar}}</p>
<br>

<button class="botoes" (click)="exibirData()">Exibir paragrafo</button>
<p>{{paragrafoData}}</p>

<h3>Trabalhando com ngFor</h3>

<ul *ngFor="let nm of nomes">
  <li>Nome é {{nm}}</li>
</ul>
<br>
<app-formulario></app-formulario>
</div>
<router-outlet></router-outlet>
-->

<router-outlet></router-outlet>



